@model IEnumerable<IOT_UI.Models.DigitalService>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DigitalServiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationUsers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DigitalServiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationUsers)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { digitalServiceId=item.DigitalServiceID }) |
                @Html.ActionLink("Delete", "Delete", new { digitalServiceId = item.DigitalServiceID })
            </td>
        </tr>
}
    </tbody>
</table>
