@model IEnumerable<IOT_UI.Models.Site>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customerId = ViewBag.CustomerId;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    <!-- Dropdown for actions -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <!-- Edit Site -->
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Edit", "Site", new { id = item.SiteID, customerId = customerId })">
                                    Edit Site
                                </a>
                            </li>
@*                             <!-- Delete Site -->
                            <li>
                                <form method="post" asp-action="Delete" asp-controller="Site" style="display:inline;">
                                    <input type="hidden" name="customerId" value="@customerId" />
                                    <input type="hidden" name="id" value="@item.SiteID" />
                                    <button type="submit" class="dropdown-item">Delete Site</button>
                                </form>
                            </li> *@
                            <!-- Add Device -->
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Index", "Device", new { siteId = item.SiteID })">
                                    Add Device
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
