@model IEnumerable<IOT_UI.Models.RoleViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Role List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleDescription)
                </td>
                <td>
                    <!-- Dropdown for actions -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Edit", "Role", new { id = item.RoleID })">
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Details", "Role", new { id = item.RoleID })">
                                    Details
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Delete", "Role", new { id = item.RoleID })">
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
