@model IEnumerable<IOT_UI.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer List</h1>

<p>
    <a asp-action="Create">Create Customer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerRegion)
            </th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerRegion)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
                </td>
                <td>
                    <!-- Dropdown for adding Site, Device, Digital Service -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Add
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Index", "User", new { customerId = item.CustomerID })">
                                    Add User
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Index", "Site", new { customerId = item.CustomerID })">
                                    Add Site
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("AddDevice", "Device", new { customerId = item.CustomerID })">
                                    Add Device
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("AddDigitalService", "DigitalService", new { customerId = item.CustomerID })">
                                    Add Digital Service
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
