@model IEnumerable<IOT_UI.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer List</h1>

<p>
    <a asp-action="Create">Create Customer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>City</th>
            <th>Region</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerRegion)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>
                    <!-- Dropdown for actions -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Edit", "Customer", new { id = item.CustomerID })">
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Details", "Customer", new { id = item.CustomerID })">
                                    Details
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Delete", "Customer", new { id = item.CustomerID })">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Index", "User", new { customerId = item.CustomerID })">
                                    Add User
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Index", "Site", new { customerId = item.CustomerID })">
                                    Add Site
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Index", "DigitalService", new { customerId = item.CustomerID })">
                                    Add Digital Service
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
