@model IEnumerable<IOT_UI.Models.DigitalService>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customerId = ViewBag.CustomerId;
}

<h1>Digital Service List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceEndDate)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>
                    <!-- Dropdown for actions -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Edit", "DigitalService", new { id = item.DigitalServiceID, customerId = customerId })">
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Delete", "DigitalService", new { id = item.DigitalServiceID, customerId = customerId })">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Index", "NotificationUser", new { digitalServiceId = item.DigitalServiceID })">
                                    Add Notification User
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
